.root{
    -fx-background-image: url("../images/homeLoginPicture.png");
    -fx-background-size: cover;

}
.doctorHomeRoot{
    -fx-background-image: url("../images/doctorhomep.png");
    -fx-background-size: cover;
}
.doctorLoginRoot{
    -fx-background-image: url("../images/doctorloginp.png");
    -fx-background-size: cover;
}